<table class="table">
  <thead>
   <tr>
     <th>Id</th>
     <th>Informacje</th>
     <th>Priorytet</th>
     <th>Zatwierdzone przez Mechanika</th>
     <th>Zatwierdzone przez Administratora</th>
     <th><a [routerLink]="['Fault/',0]"> Dodaj Naprawę </a> </th>
   </tr>
 </thead>
 <tbody *ngFor="let fault of faultList; let i = index">
   <tr>
   <th>{{fault.faultId}}</th>
   <th>{{fault.faultInformation}}</th>
   <th>{{fault.priority}}</th>
   <th>{{fault.confirmDone}}</th>
   <th>{{fault.mechanicDone}}</th>
   <th><a [routerLink]="['Fault/', fault.faultId]"> Edytuj Naprawę </a> </th>
   </tr>
 </tbody>
 </table>