<div class="container">
  <div class="row">
    <div class="col-lg-1 col-lg-offset-1"> <a [routerLink]="['/AddCar']">AddCar</a> </div>
    <div class="col-lg-1 col-lg-offset-1"> <a [routerLink]="['/GetCars']">Cars</a> </div>
    <div class="col-lg-1 col-lg-offset-1"> <a [routerLink]="['/AddWorker/0']">AddWorker</a> </div>
    <div class="col-lg-1 col-lg-offset-1"> <a [routerLink]="['/GetUsers']">GetUsers</a> </div>
    <div class="col-lg-1 col-lg-offset-1"> <a [routerLink]="['/CarFaults/1']">CarFaults</a> </div>
    <div class="col-lg-1 col-lg-offset-1"> <a [routerLink]="['/GetFuels/0']">CarFaults</a> </div>
  </div>
</div>
