<div class="container">
  <div id="loginBox" class="mainbox" >
  <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="panel-heading">
          <div class="panel-title text-center"> <b>Zmiana Hasła</b></div>
        </div>
      <form #AddFaultForm="ngForm" (ngSubmit)="onSubmit(AddFaultForm)" class="form-horizontal" role="form" novalidate >
        
        <div class="input-group">
          <label class="labeli">Aktualne Hasło</label>
          <input type="text" class="form-control" required name="Password" placeholder="Aktualne Hasło"  ngModel #Password="ngModel" [(ngModel)]="Passwordd">
          <div *ngIf=" (Password.touched && IsEmpty(Password)) || !((Password.valid) || (Password.pristine))" class="alert alert-danger">
            Aktualne hasło jest wymagane
          </div>
        </div>

        <div class="input-group">
          <label class="labeli">Nowe Hasło</label>
          <input type="text" class="form-control" required name="newPassword" placeholder="Nowe Hasło"  ngModel #NewPassword="ngModel" [(ngModel)]="NewPasswordd">
          <div *ngIf=" (NewPassword.touched && IsEmpty(NewPassword)) || !((NewPassword.valid) || (NewPassword.pristine))" class="alert alert-danger">
            Nowe hasło jest wymagane
          </div>
        </div>

        <div class="input-group">
          <label class="labeli">Potwierdzenie Nowego Hasła</label>
          <input type="text" class="form-control" required name="ConfirmPassword" placeholder="Potwierdz nowe hasło"  ngModel #ConfirmPassword="ngModel" [(ngModel)]="ConfirmPasswordd">
          <div *ngIf=" (ConfirmPassword.touched && IsEmpty(ConfirmPassword)) || !((ConfirmPassword.valid) || (ConfirmPassword.pristine))" class="alert alert-danger">
            Potwierdź nowe hasło
          </div>
        </div>
        <div *ngIf="(TheSamePassword(this.NewPasswordd,this.ConfirmPasswordd)==false) && NewPassword.dirty" class="alert alert-danger">
          Confrim Password must be the same like Password 
        </div>

        <div class="form-group">
          <button valid type="submit" class="btn btn-primary center-block" (click)="ButtonClicked()">  <b> Zatwierdź i wyślij</b> </button>
        </div>
        <div *ngIf="AddFaultForm.invalid && buttonClicked" class="alert alert-danger">
          Nie wypełniono wszystkich pól
        </div>
        <div *ngIf="status=='Failed'" class="alert alert-danger">
          {{this.message}}
        </div>
        <div *ngIf="status=='ok'" class="alert alert-success">
            {{this.message}}
        </div>  
    </form>     
  </div>                     
  </div>  
</div>