 main-cars works!
 <table class="table">
 <thead>
  <tr>
    <th>Numer Rejestracyjny</th>
    <th>Typ</th>
    <th>Model</th>
    <th>Rok Produkcji</th>
    <th>Moc</th>
    <th>Data przeglądu</th>
    <th>Koniec Oc</th>
  </tr>
</thead>
<tbody *ngFor="let car of carList; let i = index">
  <tr>
  <th>{{carList[i].registrationNumber}}</th>
  <th>{{carList[i].typeOfCar}}</th>
  <th>{{carList[i].model}}</th>
  <th>{{carList[i].yearOfProduction}}</th>
  <th>{{carList[i].power}} kw</th>
  <th>{{carList[i].carReviewDate | date: 'dd/MM/yyyy'}}</th>
  <th>{{carList[i].ocEndDate | date: 'dd/MM/yyyy' }}</th>
  <th> <button>Edytuj auto</button></th>
  </tr>
  <tr *ngIf="DateAregood(i)">Niedługo kończy się przegląd</tr>
</tbody>
</table>
  <!-- <li *ngFor="let car of carList; let i = index">
      <div class="row">
          <div class="col-sm-2"> {{carList[i].registrationNumber}}</div>
          <div class="col-sm-1">{{carList[i].typeOfCar}}</div>
          <div class="col-sm-1">{{carList[i].model}}</div>
          <div class="col-sm-1">{{carList[i].yearOfProduction}}</div>
          <div class="col-sm-1">{{carList[i].power}} kW</div>
          <div class="col-sm-1">{{carList[i].vinNumber}}</div>
          <div class="col-sm-1">{{carList[i].Factory}}</div>
          <div class="col-sm-1">{{carList[i].carReviewDate | date: 'dd/MM/yyyy'}}</div>
          <div class="col-sm-1">{{carList[i].ocEndDate | date: 'dd/MM/yyyy' }}</div>
          <div class="col-sm-2">{{carList[i].insurer}}</div>
        </div>   
        <div *ngIf="DateAregood(i)">
          cos tam
        </div>    
  </li> -->

  

