
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
<div class="page-login">
    <div class="ui centered grid container">
      <div class="nine wide column">
          <div *ngIf="this.CheckCorrectState()==false" class="ui icon warning message">
            <i class="lock icon"></i>
            <div class="content">
              <div class="header">
                Login failed!
              </div>
              <p>Musisz podac poprawny login i haslo</p>
            </div>
          </div>
        <div class="ui fluid card">
          <div class="content">
              <form #LoginForm="ngForm" (ngSubmit)="onSubmit(LoginForm)" class="form-horizontal" role="form" novalidate >
            
                <div class="field">
              <label>Użytkownik</label>
              <input type="text" class="form-control" name="Login" placeholder="login" required ngModel #Login="ngModel">
            </div>
            <div *ngIf="Login.touched && IsEmpty(Login)" class="alert alert-danger">
                Hasło jest wymagane
            </div> 
          
            <div class="field">
              <label>Hasło</label>
              <input type="password" class="form-control" name="Password" placeholder="password"  required ngModel #Password="ngModel">
            </div>
            <div *ngIf="Password.touched && IsEmpty(Password)" class="alert alert-danger">
                Hasło jest wymagane
            </div>

            <button class="ui primary labeled icon button" (click)="ButtonClicked()" type="submit">
              <i class="unlock alternate icon"></i>
              Login
            </button>
            <div *ngIf="LoginForm.invalid && buttonClicked" class="alert alert-danger">
                Nie wypełniono wszystkich pól
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>

