
    <!-- <div class="someImage"><img class="ui centered medium image" width="300" src="assets/EasyTransport.png"></div>
<div class="page-login">
    <div class="ui centered grid container">
      <div class="nine wide column">
          <div *ngIf="this.CheckCorrectState()==false" class="ui icon warning message">
            <i class="lock icon"></i>
            <div class="content">
              <div class="header">
                Login failed!
              </div>
              <p>Musisz podac poprawny login i haslo</p>
            </div>
          </div>
        <div class="ui fluid card">
          <div class="content">
              <form #LoginForm="ngForm" (ngSubmit)="onSubmit(LoginForm)" class="form-horizontal" role="form" novalidate >
            
                <div class="field">
              <label>Użytkownik</label>
              <input type="text" class="form-control" name="Login" placeholder="login" required ngModel #Login="ngModel">
            </div>
            <div *ngIf="Login.touched && IsEmpty(Login)" class="alert alert-danger">
                Hasło jest wymagane
            </div> 
          
            <div class="field">
              <label>Hasło</label>
              <input type="password" class="form-control" name="Password" placeholder="password"  required ngModel #Password="ngModel">
            </div>
            <div *ngIf="Password.touched && IsEmpty(Password)" class="alert alert-danger">
                Hasło jest wymagane
            </div>

            <button class="ui primary labeled icon button" (click)="ButtonClicked()" type="submit">
              <i class="unlock alternate icon"></i>
              Login
            </button>
            <div *ngIf="LoginForm.invalid && buttonClicked" class="alert alert-danger">
                Nie wypełniono wszystkich pól
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container"> 
      <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <H1 class="text-center">Witaj w Panelu Logowania</H1>
            <div class="account-wall">
                <div *ngIf="this.CheckCorrectState()==false" class="ui icon warning message" class="alert alert-danger" >
                    Błędny Login lub Hasło
                  </div>
                <img class="profile-img" width="300" src="assets/EasyTransport.png"
                    alt="">
                <form #LoginForm="ngForm" (ngSubmit)="onSubmit(LoginForm)" class="form-signin" role="form" novalidate>
                    <input type="text" class="form-control" name="Login" placeholder="login" required ngModel #Login="ngModel">
                <div *ngIf="Login.touched && IsEmpty(Login)" class="alert alert-danger">
                    Login jest wymagany
                </div> 
                <input type="password" class="form-control" name="Password" placeholder="password"  required ngModel #Password="ngModel">
                <div *ngIf="Password.touched && IsEmpty(Password)" class="alert alert-danger">
                    Hasło jest wymagane
                </div>
                <button class="btn btn-lg btn-primary btn-block" (click)="ButtonClicked()" type="submit">
                   Login</button>
                   <div *ngIf="LoginForm.invalid && buttonClicked" class="alert alert-danger">
                      Nie wypełniono wszystkich pól
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>