<div class="container"> 
<table class="table">
  <thead>
   <tr>
     <th>Imie</th>
     <th>Nazwisko</th>
     <th>Typ</th>
     <th>Pesel</th>
     <th><a [routerLink]="['/AddWorker/', 0]" class="btn btn-primary btn-xs" role="button"> Dodaj Użytkownika </a> </th>
   </tr>
 </thead>
 <tbody class="tabelka" *ngFor="let user of userList; let i = index">
   <tr>
   <th>{{user.firstName}}</th>
   <th>{{user.surname}}</th>
   <th>{{CheckUserType(user.userType)}}</th>
   <th>{{user.pesel}}</th>
   <th><a [routerLink]="['/AddWorker/', user.id]" class="btn btn-primary btn-xs" role="button"> Edytuj Użytkownika </a> </th>
   <th><a [routerLink]="['/GetSurveys/', user.id]" class="btn btn-primary btn-xs" role="button"> Lista Badań </a> </th>
   <th><button class="btn btn-danger btn-xs" (click)=DeleteUser(i) >Usun użytkownika</button></th>
   </tr>
 </tbody>
 </table>
</div>